.a{
    background: rgb(37, 48, 75);
    width: 476px;
    height: 333px;
    border-radius: 4px;
}
.card_body{
    color: white;
    position: relative;
    top: 41px;
}
input{
    position: relative;
    top: 100px;
    left: 4px;
    width: 100%;
    border: none;
    background: #25304b;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: white;
}
.button_one{
    position: relative;
    top: 142px;
    left: 154px
}
.button_two{
    position: relative;
    top: 212px;
    left: 42px;
}